<div class="px-content">
    <div class="page-header">
      <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-ios-keypad"></i></span></h1>
    </div>


      <div class="col-md-12">
        <div class="panel panel-danger panel-dark">
          <div class="panel-heading">
            <span class="panel-title">Employee Details</span>
            <div class="panel-heading-icon"><i class="fa fa-inbox"></i></div>
          </div>
          <div class="panel-body">
			<%= image_tag(@employee.photo, {:style => "width:100px;"}) %>

			<p id="notice"><%= notice %></p>

			<div class="col-md-6">
			  Name:
			  <%=@employee.name %>
			</div>

			<div class="col-md-6">
			  Employee Number:
			  <%=@employee.employee_number %>
			</div>

			<div class="col-md-6">
			  Email:
			  <%=@employee.email %>
			</div>

			<div class="col-md-6">
			  Contact number:
			  <%=@employee.contact_number %>
			</div>

			<div class="col-md-6">
			  Location:
			  <%=@employee.location %>
			</div>
			<div class="col-md-6">

			<%= link_to 'Edit', edit_employee_path(@employee) %> |
			<%= link_to 'Back', employees_path,class: 'b' %>
</div>
          </div>
        </div>
        </div>
        </div>

