<div class="px-content">
<div class="panel">
      <div class="panel-heading">
        <div class="panel-title">Members</div>
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
     <label for="grid-input-1" class="col-md-3 control-label">Memebership Number<font color="red">*</font></label>
      <div class="col-md-9">
        <%= form.text_field :membership_number, id: :customer_membership_number,class: 'form-control' %>
     </div>
  </div>

  <div class="form-group">
     <label for="grid-input-1" class="col-md-3 control-label">Name<font color="red">*</font></label>
      <div class="col-md-9">
        <%= form.text_field :name, id: :customer_name,class: 'form-control' %>
     </div>
  </div>

  <div class="form-group">
     <label for="grid-input-1" class="col-md-3 control-label">Address</label>
        <div class="col-md-9">
          <%= form.text_field :address1, id: :customer_address1,class: 'form-control' %>
        </div>
  </div>


  <!-- <div class="form-group">
     <label for="grid-input-1" class="col-md-3 control-label">Address2</label>
        <div class="col-md-9">
          <%#= form.text_field :address2, id: :customer_address2,class: 'form-control'  %>
        </div>
  </div> -->


  <div class="form-group">
     <label for="grid-input-1" class="col-md-3 control-label">State</label>
        <div class="col-md-9">
          <%= form.text_field :state, id: :customer_state,class: 'form-control'  %>
        </div>
  </div>


  <div class="form-group">
     <label for="grid-input-1" class="col-md-3 control-label">Pincode</label>
        <div class="col-md-9">
          <%= form.text_field :pincode, id: :customer_pincode,class: 'form-control'  %>
        </div>
  </div>


  <div class="form-group">
     <label for="grid-input-1" class="col-md-3 control-label">Contact Number<font color="red">*</font></label>
        <div class="col-md-9">
          <%= form.text_field :contact_number, id: :customer_contact_number,class: 'form-control'  %>
        </div>
  </div>


  <div class="form-group">
     <label for="grid-input-1" class="col-md-3 control-label">Email<font color="red">*</font></label>
        <div class="col-md-9">
          <%= form.text_field :email, id: :customer_email,class: 'form-control'  %>
        </div>
  </div>


  <div class="form-group">
     <label for="grid-input-1" class="col-md-3 control-label">Amount<font color="red">*</font></label>
        <div class="col-md-9">
          <%= form.text_field :amount, id: :customer_amount,class: 'form-control'  %>
        </div>
  </div>

       <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
    <%= form.submit "Submit", class: 'btn btn-success' %>
  </div>
</div>
<% end %>
